/** San Francisco which is used for the platform **/
@font-face {
  font-family: "SanFrancisco";
  src: url("/assets/fonts/san-francisco/SF-UI-Text-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "SanFrancisco";
  src: url("/assets/fonts/san-francisco/SF-UI-Text-Medium.otf");
  font-weight: 500;
}

@font-face {
  font-family: "SanFrancisco";
  src: url("/assets/fonts/san-francisco/SF-UI-Text-Semibold.otf");
  font-weight: 600;
}

@font-face {
  font-family: "SanFrancisco";
  src: url("/assets/fonts/san-francisco/SF-UI-Text-Bold.otf");
  font-weight: 700;
}
