.q-how {
    max-width: 924px;
    margin: auto;
    padding: 96px 32px;
    text-align: center;

    h2 {
        font-family: "hk_grotesk", Helvetica;
        font-weight: 800;
        font-size: 32px;
        line-height: 110%;
        color: #454658;
        margin-bottom: 24px;
    }

    p {
        font-size: 16px;
        line-height: 150%;
        color: #454658;
        margin-bottom: 32px;
    }
}

