body {
  font-family: 'SanFrancisco';
  font-size: 16px;
  background: #F9F9FD;
}


.container {
  padding: 0 32px;
  max-width: 1280px;
  width: 100%;
  margin: auto;
}


@media (max-width: 750px) {

  .container {
    padding: 0 24px;
  }

}

